*, *:before, *:after{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing:border-box;
  box-sizing: border-box;
}


@media screen and (max-width: 640px){
  .container{
    display: block;
    width: 100%;
  }
}

@media screen and (min-width: 900px){
  .container{
    width: 33.33333%;
  }
}

.album_container .title{
  color: #1a1a1a;
  text-align: center;
  margin-bottom: 10px;
}

.album_content {
  position: relative;
  width: 90%;
  max-width: 400px;
  margin: auto;
  overflow: hidden;
}

.album_content .album_content-overlay {
  background: rgba(0,0,0,0.7);
  position: absolute;
  height: 99%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.album_content:hover .album_content-overlay{
  opacity: 1;
}

.album_content-image{
  width: 100%;
  opacity: 1;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  box-shadow: 0px 10px 40px rgba(0,0,0,.3);
  border: solid calc(1em + 0.7vw) #FFF;
  margin-right: 10%;
  margin-top: 25%;
}

.album_content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.album_content:hover .album_content-details{
  top: 50%;
  left: 50%;
  opacity: 1;
}

.album_content-details h3{
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

.album_content-details p{
  color: #fff;
  font-size: 0.8em;
}

.fadeIn-bottom{
  top: 80%;
}

.album_cover {
  width: 100%;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  box-shadow: 0px 10px 40px rgba(0,0,0,.3);
  border: solid calc(1em + 0.7vw) #FFF;
  margin-right: 10%;
  margin-top: 25%;
  opacity: 1;
}

.btn{
  border:1px solid #fff;
}

.bootstrap-select > .dropdown-toggle {
  background-color: #242424;
  color: #fff;
}

div.dropdown-menu {
 background-color: #242424;
}


ul.dropdown-menu {
  background-color: #242424;
}

.bootstrap-select .dropdown-menu li a {
  color: #fff;
}

.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
  background-color: rgba(234, 95, 35, 0.1);
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:focus, .dropdown-menu > .active > a:hover {
  background-color: rgba(234, 95, 35, 0.5);
}

.dropdown-menu {
  box-shadow: 0 6px 12px rgba(234, 95, 35, 0.1);
}

iframe {
  width: 100%;
  height: calc(5em + 30vw);
  margin-top: 2vh;
  display: block;
  border: 1px solid rgba(234, 95, 35, 0.3);
  box-shadow: 0 6px 12px #EA5F23;
}

.af {
background-color: red;
}

.at {
background-color: red;
}

.bk{
  background-color:red;
}