@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');

$background: #F5D6BA;
$yellow: #DDF45B;
$pink: #FE5D26;
$red: #F64C72;
$bg-color: #1e2424;
$top-offset: 3rem;
$bp: 35rem;
$ticket-button-active-bgcolor-default: #1e2424;
$top-of-book-active-box-shadow-color: #68c4bc;
$ticket-button-active-shadow-default: #68c4bc;

.card__img {
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background: $ticket-button-active-bgcolor-default;
    box-shadow: inset 0 0 1rem $top-of-book-active-box-shadow-color;
}
* {
  box-sizing: padding-box;
  
}

.card {
  color: #fff;
  position: relative;
  float: right;
  overflow: hidden;
  width:30%;
  margin: 10px 10%;
  background: #000000;
  text-align: center;
  transition: all 0.3s ease-out;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  display:flex;
  justify-content: flex-end;;
  
   &_bg_red {
    background: rgba(255, 255, 255, 0);
  }

  &__img {
    opacity: 1;
  }

  &__text-block {
    top: 50%;
    left: 40px;
    right: 40px;
    position: absolute;
    transform: translateY(-50%);
  }


  &__heading {
    position: relative;
    font-weight: bold;
    font-size: 2em;
    text-transform: uppercase;
    margin: 0;
    transform: translateY(75%);
    font-family: 'IBM Plex Mono', monospace;
  }


  &__text {
    font-size: 0.9em;
    font-weight: 500;
    color: #fff !important;
    opacity: 0;
    margin: 0;
    font-family: 'IBM Plex Mono', monospace;
  }
  
  
  &__link {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    z-index: 1;
  }

  &:before,
  &:after {
    content: '';
    position: absolute;
    top: 3%;
    right: 3%;
    bottom: 3%;
    left: 3%;
    opacity: 0;
    transition: opacity 0.6s, transform 0.6s;
  }

  &:before {
    border-top: 2px double #DDF45B;
    border-bottom: 2px double #DDF45B;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    transform: scale(0, 1);
  }

  &:after {
    border-right: 2px double #DDF45B;
    border-left: 2px double #DDF45B;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    transform: scale(1, 0);
  }

  &:hover {
    
    .card__img {
      opacity: 0.2;
      filter: blur(5px);
      transform: scale(1.1);
      animation: place-order-keyframes .2s linear;
      background-color: $ticket-button-active-bgcolor-default;
    }
    
  }

  &:hover {

    .card__heading,
    .card__text {
      opacity: 1;
      border-color: rgba(255, 255, 255, 0.5);
      transition-delay: 0.2s;
      transform: translateY(0);
    }
    
  }

  &:hover {
    
    .card__text{
      transition-delay: 0.3s;
    }
    
  }

  &:hover:before,
  &:hover:after {
    opacity: 0.8;
    transform: scale(1);
  }
  
}





h1 {
  text-align: center;
  margin-bottom: 3rem;
  color:rgb(255,255,255);
}

section {
  display: flex;
  flex-direction: column;
  margin-bottom: 5rem;
  
  @media screen and (min-width: $bp) {
    flex-direction: row;
  }
  
  > * {
    flex: 1;
  }
}

article {
  padding: 0 1rem;
  
  p {
    font-family: Georgia;
    font-size: 1.1rem;
    line-height: 1.8;
    color:rgb(255,255,255);
    
    @media screen and (min-width: $bp) {
      margin: 0;
    }
    
    &:not(:last-of-type) {
      @media screen and (min-width: $bp) {
       min-height: 90vh; 
      } 
    }
  }
}


figure.stick{
  align-items: center;
  align-self: flex-start;
  display: flex;
  height: 10rem;
  margin: 0;
  width: 100%;
  justify-content: left;
  top: $top-offset;
  
  @media screen and (min-width: $bp) {
    position: sticky;
  }
  
  
}

h4.section {
  font-size: 2.4em;
}



.stick2{
  align-items: center;
  align-self: flex-start;
  display: flex;
  height: 10rem;
  margin: 0;
  width: 100%;
  justify-content: left;
  top: $top-offset * 3;
  font-family: 'Ubuntu';
  letter-spacing: 0.2em;
  line-height: 2;
  font-weight: 300;
  
  @media screen and (min-width: $bp) {
    position: sticky;
  }
}

.stick3{
  align-items: center;
  align-self: flex-start;
  display: flex;
  height: 10rem;
  margin: 0;
  width: 100%;
  justify-content: left;
  top: $top-offset * 5;
  font-family: 'Ubuntu';
  letter-spacing: 0.2em;
  line-height: 2;
  font-weight: 300;
  
  @media screen and (min-width: $bp) {
    position: sticky;
  }
}

figure.stick4{
  align-items: center;
  align-self: flex-start;
  display: flex;
  height: 10rem;
  margin: 0;
  width: 100%;
  justify-content: left;
  top: $top-offset * 7;
  font-family: 'Ubuntu';
  letter-spacing: 0.2em;
  line-height: 2;
  font-weight: 300;
  
  @media screen and (min-width: $bp) {
    position: sticky;
  }
}


.modal-title,
.modal-title:hover {
  /*
   * Animation variables
   */
  $animationSteps: 20;
  $animationDuration: 50;
  $animationElement: span;
  $animationElementsCount: 100;
  $delayBetweenLetters: 0.2;

  /*
   * Elements settings
   */
  #{$animationElement} {
    animation-name: anim-text-flow-keys;
    animation-duration: #{$animationDuration}s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: forwards;
  }

  /*
   * Keyframe loop
   */
  @keyframes anim-text-flow-keys {
    @for $i from 0 through $animationSteps {
      #{percentage($i * (1 / $animationSteps))} {
        color: hsla(random(365), 60, 60, 1);
      }
    }
  }

  /*
   * Element animation delay loop
   */
  $totalDelayTime: $animationElementsCount * $delayBetweenLetters;

  @for $i from 1 through $animationElementsCount {
    #{$animationElement}:nth-of-type(#{$i}) {
      animation-delay: #{($i * $delayBetweenLetters) - $totalDelayTime}s;
    }
  }
}



// NEED THESE FOR TABS TO WORK
// old browsers fallback that dont support attribute selector CSS
.hidden {
  display: none !important;
}

.js-tab-panel[aria-hidden='true'] {
  display: none;
}

// EVERYTHING BELOW THIS LINE IS AESTHETIC

body {
   @media screen and (max-width: 480px) {
      padding: 0;
    }
}

.tab {
  display: inline-block;
  
  a {
    display: block;
    color: #000;
    text-align: center;
    padding: 15px;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: none;
    background-color: #d0d0d0;
    transition: all 0.15s ease-out;
    border-radius: 4px 4px 0 0;
    border: 2px solid #000;
    border-width: 2px 2px 0 2px;
    
    @media screen and (max-width: 480px) {
      border-radius: 0;
    }
    
    .fa {
      font-size: 16px;
    }
    
    span {
      @media screen and (max-width: 810px) {
        display: none;
      }
    }
    
    &:hover,
    &:focus {
      background-color: #e1e1e1;
      padding: 15px 30px;
      font-weight: bold;
    }
  }
  &.active a {
    background-color: #2b2b2b;
    color: #fff;
    padding: 15px 60px;
    
    @media screen and (max-width: 810px) {
      padding: 15px 30px;
    }
  }
  & + & {
    margin-left: 5px;
    @media screen and (max-width: 480px) {
      margin-left: -5px;
      border-left: 1px solid #eee;
    }
  }
  &:first-child a {
    @media screen and (max-width: 480px) {
      border-radius: 4px 0 0 0;
    }
  }
  &:last-child a {
    @media screen and (max-width: 480px) {
      border-radius: 0 4px 0 0;
    }
  }
  &__wrapper {
    margin: 0;
    padding: 0;
    @media screen and (max-width: 480px) {
      text-align: center;
    }
  }
}

.panel {
  &__wrapper {
    width: 100%;
    background-color: #2b2b2b;
    color: #fff;
    box-shadow: 1px 1px 5px -4px rgba(0, 0, 0, 0.3);
    max-width: 1000px;
    padding: 30px;
    margin: 0 0 50px;
    border-radius: 0 4px 4px 4px;
    
  }
}

.title {
  color: #23aff6;
  font-size: 40px;
  font-weight: 100;
  margin: 0 auto 50px;
  @media screen and (max-width: 480px) {
    padding: 50px 20px 0;
  }
}

p {
  font-size: 18px;
  color: #888888;
}