*, *:before, *:after{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing:border-box;
  box-sizing: border-box;
}


@media screen and (max-width: 640px){
  .container{
    display: block;
    width: 100%;
  }
}

@media screen and (min-width: 900px){
  .container{
    width: 33.33333%;
  }
}

.btn{
  border:1px solid #fff;
}

.bootstrap-select > .dropdown-toggle {
  background-color: #242424;
  color: #fff;
}

div.dropdown-menu {
 background-color: #242424;
}


ul.dropdown-menu {
  background-color: #242424;
}

.bootstrap-select .dropdown-menu li a {
  color: #fff;
}

.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
  background-color: rgba(234, 95, 35, 0.1);
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:focus, .dropdown-menu > .active > a:hover {
  background-color: rgba(234, 95, 35, 0.5);
}

.dropdown-menu {
  box-shadow: 0 6px 12px rgba(234, 95, 35, 0.1);
}

iframe {
  width: 100%;
  height: calc(5em + 30vw);
  margin-top: 2vh;
  display: block;
  border: 1px solid rgba(234, 95, 35, 0.3);
  box-shadow: 0 6px 12px #EA5F23;
}