@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

#bg {
  background: linear-gradient(45deg, #392e6d, #2e3881);
  /* background: linear-gradient(180deg, rgba(138, 235, 180,1) 0%, rgba(78, 99, 87,1) 100%);*/
  width:100%;
}

.title {
  text-align: center;
  margin-top: 15%;
  font-size: 8vh;
  font-family: 'Quicksand', sans-serif;
  color:rgb(255,255,255);
}

.subtitle {
  text-align: center;
  margin-top: 20%;
  font-size: 5vh;
  font-family: 'Quicksand', sans-serif;
}

.section {
  text-align: left;
  margin-top: 20%;
  margin-bottom:10%;
  font-size: 2.4em;
  font-family: 'Quicksand', sans-serif;
}

h1.section{
  font-size:3.4em;
  font-weight:bold;
}


.container-fluid{
  padding: 0;
}

.big{
  font-size: 50px;
}

.dark {
  color: black;
}

.light {
  color: white;
}